.missions-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d90429;
  color: aliceblue;
  margin-top: 25px;
}

.missions-table th,
.missions-table td {
  border: 1px solid #d90429;
  padding: 1rem;
}

.missions-table-header {
  text-align: left;
}

.mission-name {
  font-size: 1.4rem;
  font-weight: 700;
  width: 15%;
}

.member {
  background-color: #6c757e;
  display: block;
  font-size: 0.8rem;
  width: 8rem;
  border-radius: 0.3rem;
  /* padding-bottom: 0.1rem; */
  padding: 6px 4px;
}

.active-member {
  /* background-color: #0096c7;
  display: block;
  font-size: 0.8rem;
  width: 8rem;
  border-radius: 0.3rem;
  padding-bottom: 0.1rem; */
  background-color: #ff9800;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  /* margin-right: 8px; */
}

.not-member {
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.btn-td {
  text-align: center;
}

.join {
  background-color: #4caf50;
  color: #fff;
  width: 8rem;
  cursor: pointer;
  border-radius: 0.3rem;
  /* border: 1px solid #4b5156; */
  padding: 0.5rem;
}

.join:hover {
  background-color: #57d660;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.join:active {
  background-color: #4b5156;
  color: #fff;
}

.leave {
  width: 8rem;
  cursor: pointer;
  border-radius: 0.3rem;
  /* border: 2px solid #d90429; */
  background-color: #d90429;
  color: #fff;
  padding: 0.5rem;
}

.leave:active {
  background-color: #d90429;
  color: #fff;
}
