.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.navbar-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.nav-heading {
  margin-left: 3rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.nav-li a {
  color: #449dff;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-li:nth-child(2) {
  border-right: 2px solid #000;
  padding-right: 1rem;
}

.nav-li a:active,
.nav-li a:hover,
.nav-li a:focus {
  text-decoration: underline;
}
