.Rocket-List {
  margin: 15px 0;
  color: aliceblue;
  text-align: center;
  font-size: 3vw;
}

.ul-container {
  display: flex;
  flex-direction: column;
}

.list-container {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
  padding: 0%;
  gap: 20px;
}

.list {
  border: 1px solid #d90429;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.list-img {
  width: 200px;
}

.badge {
  background-color: #ff9800;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 8px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button.cancel-button {
  background-color: #f44336;
  color: #fff;
}

button.reserve-button {
  background-color: #4caf50;
  color: #fff;
}

button.reserve-button:hover {
  background-color: #57d660;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .list {
    align-items: center;
  }

  .list-img {
    width: 50%;
    height: 16rem;
  }

  .list p {
    font-size: 0.8rem;
  }

  button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
  }
}